@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.woff") format("woff2"),
    url("fonts/Roboto-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  background: #3D5675;
  border-radius: 44px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.96px;
  display: inline-flex;
  text-decoration: none;
}

.btn:hover {
  text-decoration: underline;
}

/* Header */

.header__section {
  display: flex;
  justify-content: space-between;
  margin: 22px 24px;
  text-transform: uppercase;
}

.header__stars {
  margin-right: 14px;
}

.header__item {
  margin-right: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 1.96px;
  font-size: 14px;
  color: #011f3a;
}

.header__item:hover {
  text-decoration: underline;
}

.header__item:last-child {
  margin-right: 0;
}

.header__account {
  margin-right: 25px;
  text-decoration: none;
  letter-spacing: 1.96px;
  font-size: 14px;
  color: #011f3a;
}

.header__account:hover {
  text-decoration: underline;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__checkmark {
  margin-left: 8px;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-start;
}

.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.header__burger:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  border-top: 2px solid black;
  transform: translateY(-50%);
}

@media (max-width: 991px) {
  .header__item {
    margin-right: 10px;
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__info {
    margin-left: auto;
    margin-right: 20px;
  }
  .header__account{
    margin-right: 14px;
  }
}

/* Intro */

.intro {
  background-color: #F2AE4D;
}

.intro__sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 87px;
  padding-bottom: 98px;
}

.intro__item {
  max-width: 500px;
}

.intro__title {
  font-size: 48px;
  margin-bottom: 33px;
}

.intro__subtitle {
  font-size: 15px;
  margin-bottom: 14px;
}

.intro__button {
  padding: 19px 29px;
}

.intro__image {
  margin-right: -100px;
}

@media (max-width: 1439px) {
  .intro__image {
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .intro__image {
    display: none;
  }
  .intro__item {
    max-width: 100%;
  }
}

@media (max-width: 660px) {
  .intro__title {
    font-size: 26px;
    margin-bottom: 14px;
  }
  .intro__subtitle {
    font-size: 16px;
  }
}


